@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@media print {
    body {
        print-color-adjust: exact;
        padding: 0 !important;
    }
}

@page {
    size: A4;
    margin: -0.5mm -0.5mm;
    padding: calc(1.4rem + 0.5mm) calc(1.8rem + 0.5mm) calc(2.3rem + 0.5mm) calc(1.8rem + 0.5mm) !important;
}

* {
    @apply select-none;
}

:root {
    font-family: 'Geist Variable', sans-serif;

    @apply text-white;
}

body {
    @apply bg-gray-900 px-[1.8rem] py-[1.4rem] break-words overflow-x-hidden min-h-svh;
}

@media not print {
    body {
        /* @apply max-w-[29.7cm]; */
        @apply max-w-[50rem];
    }
}

p {
    @apply font-medium text-lg leading-5.5;
}